<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchScale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D9BB3951BE53F3B0063505B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9BB3A91BE53F3B0063505B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9BB3B41BE53F3B0063505B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
